.brand {
margin-right: 20%;

}
.NavbarStyles {
  height: 90px;
  background-color: #850432;
  padding-right: 15%;
}


.WhiteButton {
  color: #850432;
  background-color: #ececf1;
  padding: 33px 10px;
   height: 90px;
  width: 90px;
}
.NavbarButtonStyles {
  color: #ececf1;
  background-color: #850432;
  padding: 33px 10px;
  height: 90px;
  width: 90px;
}

.AramaButonuRenk {
color: #850432;

}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

